* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* Global Variables */

.flex {
  display: flex;
}

.table-border {
  border: 1px solid black;
}

/* Food Section */

.table-container {
  justify-content: center;
}

.food-table {
  width: 70%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

tbody {
  text-align: center;
}

.food-table th,
.food-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.food-table th {
  background-color: #f2f2f2;
}
